.title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    border-bottom: 1px solid #dadada;
    padding-bottom: 23px;
    color: #fff;
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (max-width: 530px) {
    .title {
        font-size: 18px;
        line-height: 22px;
    }
}