.header {
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__signup {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: none;
    background: transparent;
    margin-right: 30px;
}

.header__signup:hover {
    cursor: pointer;
}

.header__signin {
    background-color: #3DDC84;
    color: #000;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    transition: .5s;
}

.header__signin:hover {
    cursor: pointer;
    background: rgba(61, 220, 132, .8);
}

@media (max-width: 320px) {
    .header {
        width: calc(100% - 28px);
    }
}