.header {
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__signup {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: none;
    background: transparent;
    margin-right: 30px;
    text-decoration: none;
}

.header__signin {
    background-color: #3DDC84;
    color: #000;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    transition: .5s;
    text-decoration: none;
}

.header__signin:hover {
    background: rgba(61, 220, 132, .8);
}

.header__burger {
    display: none;
    background: url('../../images/burger.svg') no-repeat;
    background-size: cover;
    width: 40px;
    height: 43px;
}

.header__burger:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    .header__buttons {
        display: none;
    }

    .header__burger {
        display: block;
    }
}

@media (max-width: 320px) {
    .header {
        width: calc(100% - 28px);
    }
}