.signup {
    max-width: 396px;
    width: 100%;
    margin: 0 auto;
}

.signup__title {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 40px 0 40px 0;
}

.signup__item {
    position: relative;
    margin-bottom: 24px;
}

.signup__input {
    width: 100%;
    height: 44px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #424242;
    color: #fff;
}

.signup__label {
    position: absolute;
    pointer-events: none;
    top: 0;
    color: #8B8B8B;
    white-space: nowrap;
    overflow: hidden;
    line-height: 44px;
    transition: .5s;
}

.signup__input:focus {
    outline: none;
}

.signup__input:focus~.signup__label,
.signup__input:not(:focus):valid~.signup__label {
    top: -10px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
}

.signup__error-notice {
    color: #EE3465;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    margin-top: 6px;
    display: block;
}

.signup__submit {
    width: 100%;
    background: #4285F4;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    border: none;
    padding: 15px 0;
    border-radius: 3px;
    transition: .5s;
    margin-top: 126px;
}

.signup__submit:hover {
    cursor: pointer;
    background: rgb(26%, 52%, 96%, .8);
}

.signup__caption {
    color: #8B8B8B;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}

.signup__caption-link {
    color: #4285F4;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    transition: .5s;
}

.signup__caption-link:hover {
    opacity: .8;
}