.footer {
    margin-top: 200px;
}

.footer__description {
    color: #8b8b8b;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border-bottom: 1px solid #424242;
    padding-bottom: 20px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer__copyright {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
}

.footer__menu-item {
    margin-left: 20px;
}

.footer__menu-link {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 170px;
    }
}

@media (max-width: 370px) {
    .footer {
        margin-top: 150px;
    }

    .footer__bottom {
        flex-direction: column-reverse;
    }

    .footer_menu {
        flex-direction: column;
        text-align: center;
    }

    .footer__menu-item {
        margin: 0 0 12px 0;
    }

    .footer__copyright {
        margin-top: 18px;
    }
}