.techs {
    color: #fff;
}

.techs__title {
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    margin: 90px 0 26px 0;
}

.techs_text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 460px;
    margin: 0 auto;
}

.techs__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
    grid-gap: 10px;
    margin: 100px auto 100px auto;
    max-width: 690px;
    padding: 0;
}

.techs__item {
    background-color: #303030;
    max-width: 90px;
    min-width: 84px;
    width: 100%;
    padding: 21px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: 820px) {
    .techs_text {
        font-size: 12px;
        line-height: 18px;
    }

    .techs__list {
        max-width: 648px;
    }

    .techs__item {
        font-size: 12px;
        line-height: 15px;
    }
}