.about-me {
    color: #fff;
}

.about-me__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 66px 0 0 0;
}

.about-me__info {
    max-width: 600px;
    min-width: 292px;
    width: 100%;
    padding-right: 50px;
}

.about-me__name {
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    margin-bottom: 18px;
}

.about-me__image {
    width: 270px;
    max-height: 352px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.about-me__profession {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 26px;
}

.about-me__text {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 100px 0;
}

.about-me__social {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.about-me__social-item {
    margin-right: 20px;
}

.about-me__social-link {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .about-me__image {
        width: 255px;
    }
}

@media (max-width: 690px) {
    .about-me__wrapper {
        flex-direction: column;
        margin-top: 60px;
    }

    .about-me__info {
        padding: 0;
    }

    .about-me__image {
        width: 100%;
    }

    .about-me__name {
        font-size: 30px;
        line-height: 36px;
    }

    .about-me__profession {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
    }
}